/*------------------------------------*\
    #ABOUT SECTION
\*------------------------------------*/

.about {
	padding: ($site-header-height + ($spacing-unit * 2)) 0 ($spacing-unit * 2);
	color: white;
	background-image: url("../imgs/ui/about-bg-1.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;

	.wrapper {
		@at-root .no-flexbox & {
			position: relative;
			min-height: 80vh;
		}

		/* stacked column below 48em */
		@at-root .flexbox & {
			display: flex;
			flex-direction: column;

			@media all and (min-width:48em) {
				flex-direction: row;
			}
		}
	}

	&__header,
	&__content {
		padding: 0 $spacing-unit;
		justify-content: center;

		@at-root .flexbox & {
			display: flex;
			flex-direction: column;
		}

		@media all and (min-width:48em) {
			width: 50%;
			
			.no-flexbox & {
				float: left;
				position: absolute;
				top: 0;
				bottom: 0;
				min-height: 50vh;
			}
		}
	}

	&__header {
		font-family: RobotoLight, Arial, sans-serif;
		font-size: 24px;
		text-align: center;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);

		@media all and (min-width:48em) {
			.no-flexbox & {
				left: 0;
			}
		}

		h2 {
			margin: 0;
			color: white;
			font-size: 40px;
		}

		img {
			width: 200px;
			height: 200px;
			border-radius: 100px;
		}
	}


	&__content {
		font-family: RobotoLight, Arial, sans-serif;
		font-size: 24px;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);

		@media all and (min-width:48em) {
			.no-flexbox & {
				right: 0;
			}
		}

		a {
			padding: 0 0.25em;
			font-weight: normal;
			text-shadow: none;
			color: white;
			background-color: #8A4A4A;
			transition: background 150ms linear;

			&:hover {
				text-decoration: none;
				background-color: #722929;
			}
		}
	}
}
