/*------------------------------------*\
    #PROJECTS SECTION
\*------------------------------------*/

.projects {
	padding: ($spacing-unit * 2) 0;
	color: white;
	background-color: #D0B198;

	&__header {
		margin-bottom: 3rem;

		h2 {
			margin: 0;
			color: white;
			font-size: 40px;
			text-align: center;

			span {
				display: inline-block;
				padding: 0 0.25em;
				background-color: #8A674A;
			}
		}
	}

	&__list {
		margin: 0 -$spacing-unit;

		@at-root .flexbox & {
			display: flex;
			flex-wrap: wrap;	
			justify-content: center;
		}
	}

	&__item {
		@media all and (min-width: 40em) {
			width: 50%;
		}
		@media all and (min-width: 60em) {
			width: 33.33%;
		}

		// flexbox supported
		@at-root .flexbox & {
			display: flex;
		}

		// flexbox fallback
		@at-root .no-flexbox & {
			@media all and (min-width: 40em) {
				float: left;
			}
			@media all and (min-width:40em) and (max-width:60em) {
				&:nth-child(2n+1) {
					clear: both;
				}
			}
			@media all and (min-width: 60em) {
				&:nth-child(3n+1) {
					clear: both;
				}
			}
		}
	}
}


// individual project card
.project-card {
	margin: $spacing-unit;
	width: 100%;

	@at-root .flexbox & {
		display: flex;
		flex-direction: column;
	}

	header {
		position: relative;

		h2 {
			margin: 0;
			color: white;
			font-size: 22px;

			span {
				display: inline-block;
				padding: 0 0.25em;
				background-color: #AD896B;
			}
		}
	}

	figure {
		position: relative;
		margin: 0;
		background-color: #AD896B;
	}

	&__content {
		padding: $spacing-unit;
		background-color: #AD896B;

		@at-root .flexbox & {
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
		}

		p {
			&:last-of-type {
				margin: 0;
			}
		}
	}

	footer {
		padding: 0 $spacing-unit ($spacing-unit / 2);
		text-align: center;
		background-color: #AD896B;

		a {
			display: inline-block;
			padding: ($spacing-unit / 4);

			&:hover svg {
				fill: white;
			}
		}

		svg {
  		width: 25px;
  		height: 25px;
			fill: #444;
			transition: fill 150ms linear;
		}
	}
}
